<h1>Chemnitz</h1>

<a href="{% url 'home' %}">Home</a>
<a href="{% url 'about' %}">About Us</a>
<a href="{% url 'tuchemnitz' %}">TU Chemnitz</a>
<a href="{% url 'dormitory' %}">Dormitories</a>
<a href="{% url 'conversations' %}">Conversations</a>


<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>

<body>
  <h2>Map Example</h2>
  <div id="map" style="height: 500px;"></div>

  <script>
    // Initialize the map
    var map = L.map('map').setView([50.83332, 12.916667], 13); // (lat, lng), zoom

    // Add a tile layer (the base map)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    // Optional: Add a marker
    L.marker([50.83332, 12.916667]).addTo(map)
      .bindPopup('Chemntz')
      .openPopup();
  </script>
</body>